:root{
    --ctd-block-height : 80vh;
    --ctd-block-width : 80vw;
    --ctd-month-percent: 1;
    --ctd-day-percent: 1;
    --ctd-hour-percent: 1;
    --ctd-minute-percent: 1;
    --ctd-second-percent: 1;
    --ctd-color-month-start-limit: 0;
    --ctd-color-day-start-limit: 80;
    --ctd-color-hour-start-limit: 160;
    --ctd-color-minute-start-limit: 240;
    --ctd-color-second-start-limit: 0;
    --ctd-color-month-end-limit: 50;
    --ctd-color-day-end-limit: 50;
    --ctd-color-hour-end-limit: 50;
    --ctd-color-minute-end-limit: 50;
    --ctd-color-second-end-limit: 1080;
    --ctd-color-month: hsla( calc( var(--ctd-color-month-start-limit) + ( var(--ctd-month-percent) * var(--ctd-color-month-end-limit))), 90%, 77%, 0.8);
    --ctd-color-day: hsla( calc( var(--ctd-color-day-start-limit) + ( var(--ctd-day-percent) * var(--ctd-color-day-end-limit))), 90%, 77%, 0.8);
    --ctd-color-hour: hsla( calc( var(--ctd-color-hour-start-limit) + ( var(--ctd-hour-percent) * var(--ctd-color-hour-end-limit))), 90%, 77%, 0.8);
    --ctd-color-minute: hsla( calc( var(--ctd-color-minute-start-limit) + ( var(--ctd-minute-percent) * var(--ctd-color-minute-end-limit))), 90%, 77%, 0.8);
    --ctd-color-second: hsla( calc( var(--ctd-color-second-start-limit) + ( var(--ctd-second-percent) * var(--ctd-color-second-end-limit))), 90%, 77%, 0.8);
}
.ctd-block{
    padding-left: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    color: white;
    white-space: nowrap;
    text-align: left;
    transition: height 700ms, width 700ms, background-color 700ms;
    box-sizing: border-box;
}
.ctd-block span{
    font-size: 24px;
}
#ctd-year{
    box-shadow: 0px 0px 7px hsl( 180, 90%, 77%);
    background-color: hsla( 180, 90%, 77%, 0.8);
    height: 100%;
    width: 100%;
}
#ctd-month{
    box-shadow: 0px 0px 7px var(--ctd-color-month);
    background-color: var(--ctd-color-month);
    height: 100%;
    width: calc( var(--ctd-block-width) * var(--ctd-month-percent) );
}
#ctd-day{
    box-shadow: 0px 0px 7px var(--ctd-color-day);
    background-color: var(--ctd-color-day);
    height: 100%;
    width: calc( var(--ctd-block-width) * var(--ctd-day-percent) );
}
#ctd-hour{
    box-shadow: 0px 0px 7px var(--ctd-color-hour);
    background-color: var(--ctd-color-hour);
    height: 100%;
    width: calc( var(--ctd-block-width) * var(--ctd-hour-percent) );
}
#ctd-minute{
    box-shadow: 0px 0px 7px var(--ctd-color-minute);
    background-color: var(--ctd-color-minute);
    height: 100%;
    width: calc( var(--ctd-block-width) * var(--ctd-minute-percent) );
}
#ctd-second{
    box-shadow: 0px 0px 7px var(--ctd-color-second);
    background-color: var(--ctd-color-second);
    height: 100%;
    width: calc( var(--ctd-block-width) * var(--ctd-second-percent) );
}
@media only screen and (min-width: 600px){
    #ctd-month{
        height: calc( var(--ctd-block-height) * var(--ctd-month-percent) );
        width: 100%;
    }
    #ctd-day{    
        height: calc( var(--ctd-block-height) * var(--ctd-day-percent) );
        width: 100%;
    }
    #ctd-hour{
        height: calc( var(--ctd-block-height) * var(--ctd-hour-percent) );
        width: 100%;
    }
    #ctd-minute{
        height: calc( var(--ctd-block-height) * var(--ctd-minute-percent) );
        width: 100%;
    }
    #ctd-second{
        height: calc( var(--ctd-block-height) * var(--ctd-second-percent) );
        width: 100%;
    }
    .ctd-block span{
        text-align: center;
        display:  block;
    }
}