:root{
    --ctd-block-height : 70vh;
    --ctd-month-height: 1;
    --ctd-day-height: 1;
    --ctd-hour-height: 1;
    --ctd-minute-height: 1;
    --ctd-second-height: 1;
    --ctd-color-month-start-limit: 0;
    --ctd-color-day-start-limit: 80;
    --ctd-color-hour-start-limit: 160;
    --ctd-color-minute-start-limit: 240;
    --ctd-color-second-start-limit: 0;
    --ctd-color-month-end-limit: 50;
    --ctd-color-day-end-limit: 50;
    --ctd-color-hour-end-limit: 50;
    --ctd-color-minute-end-limit: 50;
    --ctd-color-second-end-limit: 360;
    --ctd-color-month: hsla( calc( var(--ctd-color-month-start-limit) + ( var(--ctd-month-height) * var(--ctd-color-month-end-limit))), 90%, 77%, 0.8);
    --ctd-color-day: hsla( calc( var(--ctd-color-day-start-limit) + ( var(--ctd-day-height) * var(--ctd-color-day-end-limit))), 90%, 77%, 0.8);
    --ctd-color-hour: hsla( calc( var(--ctd-color-hour-start-limit) + ( var(--ctd-hour-height) * var(--ctd-color-hour-end-limit))), 90%, 77%, 0.8);
    --ctd-color-minute: hsla( calc( var(--ctd-color-minute-start-limit) + ( var(--ctd-minute-height) * var(--ctd-color-minute-end-limit))), 90%, 77%, 0.8);
    --ctd-color-second: hsla( calc( var(--ctd-color-second-start-limit) + ( var(--ctd-second-height) * var(--ctd-color-second-end-limit))), 90%, 77%, 0.8);
}

.ctd-block{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    color: white;
    white-space: nowrap;
    text-align: center;
    transition: height 700ms, background-color 700ms;
}
.ctd-block span{
    font-size: 24px;
}
#ctd-year{
    box-shadow: 0px 0px 7px hsl( 180, 90%, 77%);
    background-color: hsla( 180, 90%, 77%, 0.8);
    height: 100%;
}
#ctd-month{
    box-shadow: 0px 0px 7px var(--ctd-color-month);
    background-color: var(--ctd-color-month);
    height: calc( var(--ctd-block-height) * var(--ctd-month-height) );
}
#ctd-day{    
    box-shadow: 0px 0px 7px var(--ctd-color-day);
    background-color: var(--ctd-color-day);
    height: calc( var(--ctd-block-height) * var(--ctd-day-height) );
}
#ctd-hour{
    box-shadow: 0px 0px 7px var(--ctd-color-hour);
    background-color: var(--ctd-color-hour);
    height: calc( var(--ctd-block-height) * var(--ctd-hour-height) );
}
#ctd-minute{
    box-shadow: 0px 0px 7px var(--ctd-color-minute);
    background-color: var(--ctd-color-minute);
    height: calc( var(--ctd-block-height) * var(--ctd-minute-height) );
}
#ctd-second{
    box-shadow: 0px 0px 7px var(--ctd-color-second);
    background-color: var(--ctd-color-second);
    height: calc( var(--ctd-block-height) * var(--ctd-second-height) );
}
@media only screen and (min-width: 600px){
    .ctd-block span{
        display:  block;
    }
}