body{
    margin: 0;
    background-color: #151515;
    height: 100vh;
    background-image: url('./bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}

#timer-main{
    position: fixed;
    height: 80vh;
    width: 80vw;
    top: 10vh;
    left: 10vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 5px;
}
@media only screen and (min-width: 600px){
    #timer-main{
        height: 70vh;
        width: 80vw;
        top: 15vh;
        left: 10vw;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        column-gap: 10px;
    }
}